<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!-- Define targets -->
  <targets>
    <!-- Log to a file -->
    <target name="all_logs" xsi:type="File" fileName="C:\Temp\NLogSample\all.log"/>
    <target name="relevant_logs" xsi:type="File" fileName="C:\Temp\NLogSample\relevant.log"/>
  </targets>

  <rules>
    <!-- All messages with a minimum log level of Debug or higher are written to the Console -->
    <logger name="*" minlevel="Debug" writeTo="all_logs" />
    <logger name="*" minlevel="Warn" writeTo="relevant_logs" />
  </rules>
</nlog>